name: Build Frontend Apps

on:
  push:
    branches: ['**']
  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: pnpm install

      # 先跑合約
      - name: Contract - compile
        run: pnpm compile
        working-directory: packages/contract

      - name: Contract - test
        run: pnpm test
        working-directory: packages/contract

      # 再跑前端
      - name: Frontend - build
        run: pnpm build
        working-directory: apps/frontend
